---
layout: default
---

<div class="bg-light">
  <div class="row">
    <div class="col-12 col-md">
      <div class="pt-5">
        {%- if page.title -%}
          <h1 class="py-3">{{page.title | escape}}
          {%- if page.title_additional -%}
            <span class="text-primary">{{page.title_additional | escape}}</span>
          {%- endif -%}
          </h1>
        {%- endif -%}
      </div>

      {{ content }}

      {%- if site.posts.size > 0 -%}
        <h2 class="fs-4 fw-normal">{{ page.list_title | default: "Posts" }}</h2>
        {%- for post in site.posts -%}
          <h3>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <p class="fst-italic">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          </p>

          <div class="fw-lighter">
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </div>
        {%- endfor -%}

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {%- endif -%}
    </div>

    <div class="col-12 col-md text-center pt-md-3">
      {% if page.main_img %}
      <img class="img-fluid pt-0 mt-md-5" src="{{ page.main_img }}"
        title="{{ page.main_img_comment | strip_html | escape }}" alt="{{ page.main_img_comment | strip_html | escape }}">
      <!-- {{ page.main_img_comment | strip_html | escape }} -->
      {% endif %}

      {% for tag in site.tags %}
      {{tag.url}}
        <span class="badge rounded-pill text-bg-primary my-1 me-1 fs-6">{{tag | first}}</span>
      {% endfor %}
    </div>
  </div>
</div>

